<form class='form-container' action='/media/edit/<%=@media['id']%>' method='post'>
    <label>Title<input type='text' name='title' autocomplete='off' placeholder='<%=@media['title']%>'></label>
    <label>Description<input type='text' name='description' autocomplete='off' placeholder='<%=@media['description']%>'></label>
    <label>Backdrop url<input type='url' name='backdrop' autocomplete='off' placeholder='<%=@media['backdrop']%>'></label>
    <label>
        <span>Rate this:</span>
        <div class="stars">
            <% (1..10).reverse_each do |star| %>
                <input type="radio" id="star-<%= star %>" name="rating" value="<%= star %>" <%if @rating != nil && star == @rating['score'].to_i%>checked<%end%>>
                <label for="star-<%= star %>" class="star">
                    <svg class="star-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor">
                        <path d="M13.849 4.22c-.684-1.626-3.014-1.626-3.698 0L8.397 8.387l-4.552.361c-1.775.14-2.495 2.331-1.142 3.477l3.468 2.937-1.06 4.392c-.413 1.713 1.472 3.067 2.992 2.149L12 19.35l3.897 2.354c1.52.918 3.405-.436 2.992-2.15l-1.06-4.39 3.468-2.938c1.353-1.146.633-3.336-1.142-3.477l-4.552-.36-1.754-4.17Z"/>
                    </svg>
                </label>
            <% end %>
        </div>
    </label>
    <input type='submit' value='Save' class='submit-button'>
</form>